.options {
	width: 90%;
	height: 100px;
	/* border: 1px solid black; */
	/* padding: 0px 40px; */
	display: flex;
	/* gap: 20px; */
	/* list-style: none; */
	/* border: 1px solid black; */
}

.listitem {
	/* border: 1px solid black; */
	border-radius: 5px;
	background: rgb(231, 231, 231);
	width: 220px;
	height: 60px;
	padding: 10px 20px;
	display: flex;
	align-items: center;
	gap: 20px;
	font-size: 14px;
	font-weight: 600;
}

.prevarrow {
	color: grey;
	padding: 0;
	margin: 0;
	width: 25px;
	height: 20px;
	display: flex;
	align-items: center;
	border: 1px solid black;
}

.prevarrow svg {
	width: 100%;
}